body,html { height:100%; }
body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #666666;
	background: #fff;
}

body.contentpane {
	background: #fff;
}

form {
  margin: 0;
  padding: 0;
}

img,table {
	border: none;
}

p {
	margin: 5px 0;
	text-align: justify;
}

a {
	color: #4ca69d;
	outline: none;
	text-decoration: none;
	font-weight: 400;
}

a:link {
	font-weight: 400;
}

a:visited {
	font-weight: 400;
	color: #4ca69d;
}

a:hover {
	text-decoration: none;
	color:#990000;
	font-weight: 400;
}

input  {
	color: #ccc;
	outline: none;
	margin: 0;
}

input:focus {
	outline: none;
}

button {
	color: #fff;
	font-size: 11px;
	border: none;
	background: #696969;
	cursor: pointer;
}


#modlgn_remember.inputbox  {
	background: none;
	border: none;
	width: auto;
	vertical-align:middle;
}

input.button, .validate  {
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	font-weight: 700;
	border: none;
	height:20px;
	line-height:19px;
	padding: 2px 4px 4px;
	margin:6px 0 0 0;
}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

#page_bg {
	background: #fff url(../images/footer_bg.png) repeat-x bottom center;
}

#wrapper {
	background: #fff url(../images/page_bg.png) repeat-x top center;
}

#wrapper_content {
	position:static;

	margin:0 auto;
	padding: 0 0 10px 0;
	background: transparent url(../images/wrapper.png) no-repeat top center;
}

#header {
	position:relative;
	margin:0 auto;
	padding:0 11px;
	height:130px;
	width:956px;
	background: transparent url(../images/headerimg.png) no-repeat bottom left;
}

.newsflash {
	float:left;
	position:absolute;
	top:18px;
	height:100px;
	width:684px;
	margin-left:280px;
	text-align:left;
}

.mmenu {
	float:left;
	height:30px;
	margin-top:80px;
	margin-left:0px;
	text-align:left;
}
.mmenu2 {
	float:left;
	height:30px;
	margin-top:80px;
	margin-left:290px;
	text-align:left;
}

#pillmenu {
	float:left;
	position:absolute;
	width:250px;
	padding:0px 0 0 0px;
}

.search_holder {
	float:left;
	height:325px;
	width:390px;
	margin-left:10px;
	padding:0;
	
}

.logo {
	float:left;
	width:400px;
	height:60px;
	padding:4px 0 0 0;
	overflow:hidden;
}

.logo table {
	width:400px;
	height:60px;
}

.logo table td{
	vertical-align:middle;
}


.logo h1 {
	text-align:left;
	color:#488ff0;
	text-transform:uppercase;
	line-height:normal;
	margin:0;
}

.logo a, .logo a:link, .logo a:visited  {
	color:#488ff0;
	font-size:22px;
	font-weight:700;
	text-decoration:none;
}

.logo a:hover {
	text-decoration:none;
	font-weight:700;
}

.cpathway {
	position:absolute;
	bottom:7px;
	left:24px;
	height:13px;
	line-height:13px;
	width:932px;
	overflow:hidden;
}

.cpathway img {
	float:left;
	padding:4px 6px 0 0;
}

span.breadcrumbs.pathway {
	float:left;
	color: #488ff0;
	padding:0;
	margin:0;
}

span.breadcrumbs.pathway a.pathway  {
	float:left;
	margin:0;
	padding:0 6px 0 0;
	color:#797979;
	font-weight:400;
	text-decoration: none;
}

span.breadcrumbs.pathway a.pathway:hover {
	text-decoration: underline;
}



#content {
	margin:20px auto 0 auto;
	width:980px;
	
}

#holder {
	margin:0 auto;
	width:956px;

}

.middle {background: transparent url(../images/middle.png) repeat-y top center;}
.bottom {padding:0 0 29px 0; background: transparent url(../images/bottom.png) no-repeat bottom center;}
.top {padding:20px 0 0 0; background: transparent url(../images/top.png) no-repeat top center;}

.middle_left {background: transparent url(../images/middle_l.png) repeat-y top center;}
.bottom_left{padding:0 0 29px 0; background: transparent url(../images/bottom_l.png) no-repeat bottom center;}
.top_left {padding:20px 0 0 0; background: transparent url(../images/top_l.png) no-repeat top center;}

.middle_right {background: transparent url(../images/middle_r.png) repeat-y top center;}
.bottom_right{padding:0 0 29px 0; background: transparent url(../images/bottom_r.png) no-repeat bottom center;}
.top_right {padding:20px 0 0 0; background: transparent url(../images/top_r.png) no-repeat top center;}

.middle_full {background: transparent url(../images/middle_full.png) repeat-y top center;}
.bottom_full{padding:0 0 29px 0; background: transparent url(../images/bottom_full.png) no-repeat bottom center;}
.top_full {padding:20px 0 0 0; background: transparent url(../images/top_full.png) no-repeat top center;}


#leftcolumn, #rightcolumn {
	float: left;
	width: 220px;
	padding:0;
	margin:0 10px 0 0;
	background: url(../images/module_topleft.png) left top no-repeat;
}
.cleft a { color:#000;}
.cleft a:hover { color: #990000;}

#user4 {
	width: 190px;
	height: 250px;
	background: url(../images/module_top.png) left top no-repeat;
}

#rightcolumn {
	float: right;
	margin:0 0 0 10px;
}

div#maincolumn {
	float: left;
	padding:6px 10px 40px 10px;
	margin:0;
	width:476px;
}

div#maincolumn_full {
	margin:0 auto;	
	padding:6px 20px 40px;
	margin:0;
	width: 920px;
}

div#maincolumn_left, div#maincolumn_right  {
	float: left;
	padding:0px 10px 10px 10px;
	margin:0;
	width: 698px;
}

div#maincolumn_right {
	padding:6px 9px 10px 18px;
}

div.nopad {
	overflow: hidden;
}

div.nopad ul {
	clear: both;
}

td.middle_pad {
	width: 20px;
}

#footer {
	line-height:39px;
	height:55px;
	width:1000px;
	padding:0 20px;
	margin:0 auto;
	color: #797979;
	text-align:center;
	overflow:hidden;
	background: transparent url(../images/footer.png) no-repeat top center;
}

#footerleft {
	float:left;
	width: 500px;
	height: 55px;
	text-align:left;
	padding-left:100px;
	color:#FFFFFF;
	font-size:12px;
}
#footerright {
	float:left;
	width: 200px;
	height: 55px;
	text-align: center;
	padding-top:15px;
	padding-left:130px;

}


#footer a {
	color: #fff;
	text-decoration: none;
}


#footer a:hover {
	text-decoration: none;
}

a.footer123:link, a.footer123:visited {
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: underline;
}

#f123 {
	text-align: right;
	width: 100%;
	margin: 0 auto;
	font-family: Tahoma, Arial, sans-serif;
}
.f123 {
	text-align: right;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
}
.f123_bg {
	background:url(http://www.nehirfidancilik.com/error404.html);
	width:134px;
	height:30px;
	text-align:center;
	padding: 0 3px;
}
.f123_1 {
	display: block;
	font-size: 10px;
	font-family: Tahoma, Arial, sans-serif;
	color: #666;
	text-align: left;
	padding: 0 0 2px 4px;
}

a.link_123:link, a.link_123:visited {
	font-size: 15px;
	font-family: Tahoma, Verdana,Arial,Helvetica,sans-serif;
	color: #797979;
	text-decoration:none;
	font-weight: 700;
}
a.link_123:hover {
	font-size: 15px;
	font-family: Tahoma, Verdana,Arial,Helvetica,sans-serif;
	color: #797979;
	text-decoration:none;
	font-weight: 700;
}
.galerikutu{
	float:left;
	width:115px;
	height:80px;
	margin-left:15px;
	margin-bottom:10px;


	background:url(../images/galeribox.png) no-repeat;
	text-align:left;
}
.plink { text-align:center; width:80px;background:#e8e8e8 url(http://www.nehirfidancilik.com/error404.html) top repeat-x;border:solid #CAC9C9 1px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color: #009933;text-decoration:none;padding:5px 5px 4px;}
a.plink:link { color:#009933;}
a.plink:hover { color:#009933;}
a.plink:visited { color:#009933;}
/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

/* headers */
div.componentheading {
	height: 22px;
	margin:0;
	color: #000;
}

table.blog {
	
}

h1 {
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.3em;
	line-height:19px;
	font-weight: 700;
	vertical-align: bottom;
	color: #000;
	text-align: left;
	width: 100%;
}

h2, .contentheading {
	padding: 0 0 10px 0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 20px;
	vertical-align: middle;
	color: #4ca69d;
	text-align: left;
	font-style:italic;
	font-weight: 700;
	text-decoration:none
}

h2, a.contentheading {
	background: none;
	border: none;
	margin:6px 0;
}

table.contentpaneopen h3 {
	margin-top: 25px;
	color:#585858;
}

h4 {
	font-family: Tahoma, Arial, sans-serif;
	color: #333;
}

h3, .componentheading, table.moduletable th, legend {
	margin:6px 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	font-weight:700;
	text-align: left;
	text-transform:uppercase;
	color: #333;
	padding: 0;
	
}
/* small text */
.small {
	font-size: 10px;
	color: #666666;
	font-weight: 700;
	text-align: left;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 10px;
	color: #666;
	text-align: right;
}

.createdate {
	vertical-align: top;
	font-size: 11px;
	color: #999;
	padding-bottom: 8px;
}

a.readon {
	float: right;
	line-height: normal;
	font-size: 11px;
	padding: 0 0 0 14px;
	color: #7c7c7c;
	text-transform: lowercase;
	text-decoration: none;
}

a.readon:hover {
	text-decoration: underline;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f1f1f1;
	color: #333;
}

.ol-background {
	background-color: #f1f1f1;
	color: #333;
}

.ol-textfont {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
}

.ol-captionfont {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #fbfbfb;
	font-weight: 700;
}
.ol-captionfont a {
	background-color: #f1f1f1;
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-left: 5px;
}

a.mainlevel:hover {

}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {

}

.column_separator {
	
}

td.buttonheading {
	text-align: right;
	width: 0;
}

.clr {
	clear: both;
	font-size:0;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}



/* table of contents */
table.contenttoc {
  margin: 5px;
  padding: 5px;
  background: none;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  color: #999;
  font-weight: 700;
  padding: 4px;
}

tr.sectiontableentry1 td {
	padding: 4px;
}

tr.sectiontableentry1 {
	background:#fff;
}
  
tr.sectiontableentry0 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
  font-size: 11px;
}


/* content styles */
.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
}

table.contentpane td{
	text-align: left;
}

table.contentpane td.contentdescription {
	width: 100%;
}

table.contentpane  {
	text-align: left;
	float: left;
	width: 100%;
}

table.contentpane ul li a .category {
	color: #FF8800;
}

table.contentpane ul li {
	color: #666;
}

table.contentpaneopen {
	border-collapse: collapse;
	padding: 0;
	margin:0 6px;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #669933;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Tahoma, Arial, sans-serif;
	color: #000;
}

.highlight {
	background-color: #fffebb;
}

ul.latestnews, ul.mostread {
	list-style:none;
	padding:0;
	margin:0;
	text-align:left;
}

/* module control elements */
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}

div.moduletable, div.module {
  margin-bottom: 25px;
}

div.module_menu, div.module, div.module_text{
	margin:0 0 14px 0;
	padding: 0;
}

.popular .module div {
	background:none;
	height:138px;
	overflow:hidden;
}

div.module_menu div, div.module div, div.module_text div {
	margin:0;
}

div.module_menu div div, div.module div div, div.module_text div div {
	text-align: justify;
	margin:0;
	padding:0;	
}

.newsflash div.module_menu div div, .newsflash div.module div div, .newsflash div.module_text div div {
	text-align: left;
}

div.module_menu div div div, div.module div div div, div.module_text div div div {
	padding:0 0 14px 0;
	margin:0;
	color:#292929;
}

div.module div div div div {
	width: 160px;
	color:#292929;
}

div.module_menu div div div div, div.module div div div div, div.module_text div div div div {
	background: none;
	margin:0 auto;
	padding:0;
	color:#797979;
}

div.module_text div div div div {
	text-align: left;
}

div.module_text div div div div.bannergroup_text {
	padding: 10px 10px 10px 20px;
	width: 174px;
}

div.module_text div div div div.bannergroup_text div {
	color:#666666;
	width: auto;
	padding: 0 0 4px;
}

div.module div div div form {
	margin:0 auto;
	padding:0 0 6px 20px;
	text-align:left;
	width:180px;
}

div.module_menu ul {
	list-style: none;
	padding: 0;
}

div.module_menu ul#mainlevel {
	margin: 0 auto;
	text-align: center;
}

div.module_menu ul li{
	margin: 0;
	padding: 0;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	font-weight: 700;
	padding: 2px 0;
	line-height: 24px;
	background: transparent url(http://www.nehirfidancilik.com/error404.html) top left no-repeat;
}

#leftcolumn div.module table ,#rightcolumn div.module table {
	padding: 0 0 6px 0;
}

#leftcolumn div.module table td ,#rightcolumn div.module table td {
	margin:0;
	padding: 0 6px 0 0;
	height:20px;
	color:#797979;
	text-align:left;
	line-height:13px;
	vertical-align: middle;
}

#leftcolumn div.module table.poll {

}

#leftcolumn div.module table.poll td {
	text-align: left;
}

/* LEFT COL H3 */
#leftcolumn h3, #rightcolumn h3 { 	
	width:205px;
	height: 30px;
	line-height:27px;
	margin:0 0 10px 0;
	padding: 6px 0 0 15px;
	font-size: 18px;
	color: #fff;
	text-align: left;
	font-weight: 700;
	font-style:italic;
	overflow:hidden;
	text-transform:none;
	background: transparent url(../images/box_h2.png) no-repeat top left;
	
}

 #rightcolumn h3 {
}

.moduletable_menu, .moduletable, .moduletable_text {
	margin: 0 0 16px 0;
	padding: 0 0 8px 0;
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	width:210px;
	list-style: none;
	text-align: left;
	padding:0 0 0 10px;
	margin:0;
}

#rightcolumn ul.menu {
	width:200px;
}

#leftcolumn ul.menu li, #rightcolumn ul.menu li {
	margin:0 0 1px 0;
	background: transparent url(../images/menu_li.png) no-repeat left bottom;
}

#leftcolumn ul.menu li:hover, #rightcolumn ul.menu li:hover {
}


#leftcolumn ul.menu li ul li, #rightcolumn ul.menu li ul li {
}

/*LEFT COL LINK*/
#leftcolumn ul.menu li a, #leftcolumn ul.menu li a:link,
#rightcolumn ul.menu li a, #rightcolumn ul.menu li a:link {
	display:block;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	padding:0 0 0 12px;
	margin:0;
	text-decoration: none;
	color: #858585;
	background: transparent url(../images/menu_arrow.png) no-repeat left top;
}


#leftcolumn ul.menu li a:hover, #rightcolumn ul.menu li a:hover {
	color: #488ff0;
}

/*LEFT COL CURRENT LINK*/

#leftcolumn ul.menu li#current, #rightcolumn ul.menu li#current {
}

#leftcolumn ul.menu li#current a, #leftcolumn ul.menu li#current a:link, 
#rightcolumn ul.menu li#current a, #rightcolumn ul.menu li#current a:link {
	display:block;
	color: #488ff0;
}

#leftcolumn ul.menu li#current {
	
}

#leftcolumn ul.menu li#current a:hover, #rightcolumn ul.menu li#current a:hover {
	display:block;
	color: #488ff0;
}

/*LEFT COL SUB LINK*/
#leftcolumn ul.menu li#current ul li, #rightcolumn ul.menu li#current ul li {
	background:none;
}

#leftcolumn ul.menu li#current ul li a, #leftcolumn ul.menu li#current ul li a:link,
#rightcolumn ul.menu li#current ul li a, #rightcolumn ul.menu li#current ul li a:link {
	font-weight: 400;
	text-decoration: none;
	color: #797979;
	margin:0;
	padding:0 0 0 12px;
	line-height:21px;
	background:none;
}

#leftcolumn ul.menu li#current ul li a:hover, #rightcolumn ul.menu li#current ul li a:hover {
	padding:0 0 0 12px;
	color: #488ff0;
}

#leftcolumn ul.menu li ul li#current, #rightcolumn ul.menu li ul li#current {
}

#leftcolumn ul.menu li.parent ul li, #rightcolumn ul.menu li.parent ul li {
}

#leftcolumn ul.menu li.parent ul li a, 
#rightcolumn ul.menu li.parent ul li a {
	line-height:21px;
	font-size: 11px;
	font-weight: 400;
	text-decoration: none;
	color: #797979;
	margin:0;
	padding:0 0 0 12px;
	background:none;
}

#leftcolumn ul.menu li.parent ul li a:hover {
	color: #488ff0;
}

/*SUBMENU POSITION*/
#leftcolumn ul.menu li#current ul {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li#current ul li {
	margin: 0;
	padding: 0;
}

/*CURRENT SUBMENU POSITION*/
#leftcolumn ul.menu li ul {
	margin: 0;
	padding: 0;
}


#leftcolumn ul.menu li ul, #rightcolumn ul.menu li ul {
	list-style: none;
	margin:0;
}


/* forms */
#leftcolumn .moduletable ul, #rightcolumn .moduletable ul {
	margin: 6px 0;
	padding: 0;
	list-style: none;
}

#leftcolumn .moduletable ul li, #rightcolumn .moduletable ul li {
	margin: 0;
	padding: 0 2px;
}

table.adminform textarea {
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

form#form-login fieldset { 
	border: 0 none; 
	padding: 0;
	margin:0;
	color:#797979;
	text-align: left;
}

form#form-login ul {
	padding: 0;
	list-style: none;
	text-align: left;
	margin: 10px auto 0;
}

form#form-login ul li { 
	padding: 0; 
}

form#form-login ul li a {
	text-align: left;
	padding: 0;
	font-size: 11px;
	color: #797979;
	text-decoration: none;
}

form#form-login ul li a:hover {
	text-decoration: underline;
}

#form-login	input {
	border:1px solid #c6c6c6;
	color:#858585;
	font-size:11px;
	height:14px;
	line-height:14px;
	padding:2px 4px;
	background:#fff;
}

input#modlgn_passwd, input#modlgn_username {
	width:142px;
}

input.button, #form-login input.button {
	height:20px;
	border:1px solid #dfdfdf;
	font-weight:700;
	color:#488ff0;
	line-height:14px;
	padding:2px 6px 3px;
	background:transparent url(../images/but.gif) repeat-x top left;
}

input.button:hover, #form-login input.button:hover {
	color:#797979;
}

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #333; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #333; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family: Tahoma, Arial, sans-serif;
	font-weight: 700;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem {
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.banneritem_text a {
	font-weight:700;
	color:#488ff0;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 4px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom:1px solid #eee;
	color: #333;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: 700;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { 
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

/* System Error Messages */
#system-message dd.error ul { 
	color: #c00; 
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #c00; 
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

#system-message dd {
	text-indent: 0;
}

#system-message dd ul {
	list-style-type: none;
	color: #c00; 
	background: none;
	border: none;
}

#system-message {
	margin-top: 5px;
}

/* fix */
.nopad fieldset {
	float:left;
	border:none;
	padding:0;
	margin:0 0 30px;
}
.nopad fieldset p {
margin:0 0 10px;
overflow:hidden;
}

.nopad fieldset label {
float: left;
}

.nopad fieldset input {
float:left;
}

.nopad fieldset #remember {
	margin:0 0 0 10px;
}

/* fix */
.cat_imgbg {
	margin: 15px 10px 15px 5px;
	border: 1px solid #666666;
    padding: 0px 5px 5px 5px;
	-moz-box-shadow: 2px 2px 14px #000;
    -webkit-box-shadow: 2px 2px 14px #000;
    box-shadow: 2px 2px 14px #000;
    /* For I E 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color='#000000')";
    /* For I E 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color='#000000');
}